@media (max-width: 1290px) {
    /* ************** NAVBAR ************** */
    .nav-bar-container {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding: 10px 15px;
        /* background-color: green; */
        margin: -1% -1%;
        height: 85px;
    }
    /* NAVBAR > LOGO */
    .nav-bar-container > .logo-container {
        position: relative;
        display: flex;
        justify-content: center;
        margin-right: 15px;
        width: 15%;
    }
    /* NAVBAR > LINKS */
    .nav-bar-container > .nav-bar-links-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 45%;
        height: 90%;
        margin-right: 15px;
        /* border: 2px solid antiquewhite; */
    }
    .nav-bar-container > .nav-bar-links-container > .nav-links-container {
        position: relative;
        width: 75%;
        height: 45%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        /* border: 2px solid rgb(25, 72, 174); */
    }
    /* NAVBAR > BUTTONS */    
    .nav-bar-container > .nav-btns-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        width: 40%;
        /* border: 2px solid rgb(25, 72, 174); */
        padding: 5px 0px;
    }

    /* ************** LANDING-PG *************** */
.landing-pg-container > .two-column-container {
    display: grid;
    grid-template-columns: 1.5fr 1.2fr;
    gap: 10px;
    justify-content: center;
    align-items: center;  
    background-color: black;
    box-shadow: inset 785px 25px 280px rgba(182, 192, 217, 0.32);
    /* border: 2px solid rgb(70, 174, 25); */

}
    /* LANDING-PG > INFO Content */
    .landing-pg-container > .two-column-container > .info-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px 45px;
        margin-top: -12px;
        margin-left: 10px;
        background-color: transparent;
        /* border: 2px solid rgb(174, 25, 28); */
    }
    .landing-pg-container > .two-column-container > .info-content :nth-child(1) span {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-weight: bold;
        filter: brightness(100%);
    
    }
    .landing-pg-container > .two-column-container > .info-content :nth-child(2) {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-weight: 400;
        filter: brightness(80%);
        /* border: 2px solid rgb(25, 174, 65); */
    }
}